@using System.Globalization;


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
@model HomeViewModel

<div class="ShowOrder">
    <table>
        <thead>
            <tr>
                <th>Tên Người Gửi</th>
                <th>Tên Người Nhận</th>
                <th>Đồ Vật</th>
                <th>Địa chỉ nhận</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders.items)
            {


                <tr>
                    <td>@order.SendName</td>
                    <td>@order.ReceiveName</td>
                    <td>@order.Code</td>
                    <td>@order.ReceiveAddress</td>
                </tr>
            }
            <!-- Thêm các hàng khác tùy vào số đơn hàng -->
        </tbody>
    </table>
</div>


<style>
    /* CSS để tạo bảng */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #3498db;
        color: #fff;
    }

    .ShowOrder{
        height: 100vh;
    }
</style>
