@using MagicPost_ViewModel.Orders;
@using System.Globalization;

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@*  -> se lay dc ra theo name. Tuc la ban dau minh *@
@* hay de cac ten vao trong the <localization> nham dich no sang tieng viet o ViewLocalization resource nhung lan nay ta lay du lieu do ra vao trong  *@
@*  url  ->  no se giup url cua minh co the da ngon ngu *@
@model HomeViewModel;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    ViewData["Title"] = "Home Page";
}
<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/carousel-1.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>MAGIC POST</h3>
                    <h1>Nhanh chóng</h1>
                    <p>
                        Magic post luôn ưu tiên sự nhanh chóng cho khách hàng là hàng đầu
                    </p>
                    <a class="btn btn-custom" href="">Xem thêm</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/carousel-2.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>MAGIC POST</h3>
                    <h1>An toàn</h1>
                    <p>
                        Magic post luôn cố gắng để bảo đảm những món đồ bạn gửi an toàn nhất có thể
                    </p>
                    <a class="btn btn-custom" href="">Xem thêm</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/carousel-3.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>MAGIC POST</h3>
                    <h1>Giá thành phải chăng</h1>
                    <p>
                        Magic Post có giá thành rất phải chăng so với nhiều các dịch vụ khác. Ngoài ra có rất nhiều đợt giảm giá cho khách hàng
                    </p>
                    <a class="btn btn-custom" href="">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p>Về chúng tôi</p>
                    <h2>MAGIC POST</h2>
                </div>
                <div class="about-content">
                    <p>
                        Công ty MagicPost là công ty hoạt động trong lĩnh vực chuyển phát. Công ty này có các điểm giao dịch phủ khắp cả nước. Mỗi điểm giao dịch phụ trách một vùng. Ngoài các điểm giao dịch, công ty cũng có nhiều điểm tập kết hàng hóa. Mỗi điểm giao dịch sẽ làm việc với một điểm tập kết. Ngược lại, một điểm tập kết sẽ làm việc với nhiều điểm giao dịch.
                    </p>
                    <ul>
                        <li><i class="far fa-check-circle"></i>Nhanh chóng</li>
                        <li><i class="far fa-check-circle"></i>An toàn</li>
                        <li><i class="far fa-check-circle"></i>Giá thành phải chăng</li>
                    </ul>
                    <a class="btn btn-custom" href="">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Chúng tôi làm gì?</p>
            <h2>Hệ thống chuyển phát nhanh</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash-1"></i>
                    <h3>Exterior Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Interior Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-vacuum-cleaner"></i>
                    <h3>Vacuum Cleaning</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-seat"></i>
                    <h3>Seats Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service"></i>
                    <h3>Window Wiping</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-2"></i>
                    <h3>Wet Cleaning</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Oil Changing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-brush-1"></i>
                    <h3>Brake Reparing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-map-marker-alt"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">15</h3>
                        <p>Điểm giao dịch</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-user"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">100</h3>
                        <p>Nhân viên, trưởng điểm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-users"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">150</h3>
                        <p>Khách hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-check"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">1000</h3>
                        <p>Dự án thành công</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header text-left">
                    <p>MAGIC POST</p>
                    <h2>Địa điểm giao dịch</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
                                <p><strong>Liên hệ:</strong>0827259403</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>Số 7 Phạm Văn Đồng, Cầu Giấy,Hà Nội</p>
                                <p><strong>Liên hệ:</strong>012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>10 phố Láng Hạ, Đống Đa, Cầu Giấy</p>
                                <p><strong>Liên hệ:</strong>012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>10 Giải Phóng, Hai Bà Trưng, Hà Nội</p>
                                <p><strong>Liên hệ:</strong>012 345 6789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="location-form">
                    <h3>Liên hệ tư vấn</h3>
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Tên" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Mô tả" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location End -->
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Đội ngũ của chúng tôi</p>

        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-1.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Mai Hiếu</h2>
                        <p>Trưởng điểm giao dịch</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Mạnh Hùng</h2>
                        <p>Trưởng điểm giao dịch</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Hoàng Hào</h2>
                        <p>Lãnh đạo</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-4.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Tiến Hải</h2>
                        <p>Giao dịch viên</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<table>
    <thead>
        <tr>
            <th>Tên Người Gửi</th>
            <th>Tên Người Nhận</th>
            <th>Đồ Vật</th>
            <th>Địa chỉ nhận</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders.items)
        {


            <tr>
                <td>@order.SendName</td>
                <td>@order.ReceiveName</td>
                <td>@order.Code</td>
                <td>@order.ReceiveAddress</td>
            </tr>
        }
        <!-- Thêm các hàng khác tùy vào số đơn hàng -->
    </tbody>
</table>

<style>
    /* CSS để tạo bảng */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #3498db;
        color: #fff;
    }
</style>