@using MagicPost_ViewModel.Orders;
@using System.Globalization;

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@*  -> se lay dc ra theo name. Tuc la ban dau minh *@
@* hay de cac ten vao trong the <localization> nham dich no sang tieng viet o ViewLocalization resource nhung lan nay ta lay du lieu do ra vao trong  *@
@*  url  ->  no se giup url cua minh co the da ngon ngu *@
@model HomeViewModel;
@{
    var culture = CultureInfo.CurrentCulture.Name;

}
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/nhanhchong.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>MAGIC POST</h3>
                    <h1>Nhanh chóng</h1>
                    <p>
                        Magic post luôn ưu tiên sự nhanh chóng cho khách hàng là hàng đầu
                    </p>
                    <a class="btn btn-custom" href="">Xem thêm</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/antoan.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>MAGIC POST</h3>
                    <h1>An toàn</h1>
                    <p>
                        Magic post luôn cố gắng để bảo đảm những món đồ bạn gửi an toàn nhất có thể
                    </p>
                    <a class="btn btn-custom" href="">Xem thêm</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/giaca.png" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>MAGIC POST</h3>
                    <h1>Giá thành phải chăng</h1>
                    <p>
                        Magic Post có giá thành rất phải chăng so với nhiều các dịch vụ khác. Ngoài ra có rất nhiều đợt giảm giá cho khách hàng
                    </p>
                    <a class="btn btn-custom" href="">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/img/work.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p>Về chúng tôi</p>
                    <h2>MAGIC POST</h2>
                </div>
                <div class="about-content">
                    <p>
                        Công ty MagicPost là công ty hoạt động trong lĩnh vực chuyển phát. Công ty này có các điểm giao dịch phủ khắp cả nước. Mỗi điểm giao dịch phụ trách một vùng. Ngoài các điểm giao dịch, công ty cũng có nhiều điểm tập kết hàng hóa. Mỗi điểm giao dịch sẽ làm việc với một điểm tập kết. Ngược lại, một điểm tập kết sẽ làm việc với nhiều điểm giao dịch.
                    </p>
                    <ul>
                        <li><i class="far fa-check-circle"></i>Nhanh chóng</li>
                        <li><i class="far fa-check-circle"></i>An toàn</li>
                        <li><i class="far fa-check-circle"></i>Giá thành phải chăng</li>
                    </ul>
                    <a class="btn btn-custom" href="">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Chúng tôi làm gì?</p>
            <h2>Hệ thống chuyển phát nhanh</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_3" data-name="Layer 3" viewBox="0 0 64 64" width="60" height="60"><path d="M31.364,32.95a6.657,6.657,0,1,0-9.414,9.414L35.636,56.05a6.657,6.657,0,1,0,9.414-9.414ZM22,37.657a4.657,4.657,0,0,1,7.95-3.293L36.086,40.5,29.5,47.086,23.364,40.95A4.627,4.627,0,0,1,22,37.657ZM40.343,56a4.625,4.625,0,0,1-3.293-1.364L30.914,48.5,37.5,41.914l6.136,6.136A4.657,4.657,0,0,1,40.343,56Z" /><path d="M47,23a9,9,0,1,0,9,9A9.01,9.01,0,0,0,47,23Zm0,2a7.006,7.006,0,0,1,6.92,6H40.08A7.006,7.006,0,0,1,47,25Zm0,14a7.006,7.006,0,0,1-6.92-6H53.92A7.006,7.006,0,0,1,47,39Z" /><path d="M62.555,9.168l-12-8A1.006,1.006,0,0,0,50,1H2A1,1,0,0,0,1,2V54a1,1,0,0,0,.445.832l12,8A1.006,1.006,0,0,0,14,63H62a1,1,0,0,0,1-1V10A1,1,0,0,0,62.555,9.168ZM58.7,9H42.3l-9-6H49.7ZM14.3,9l-9-6H21.7l9,6Zm20,0-9-6H29.7l9,6Zm.7,2h6v6l-2.4-1.8a1,1,0,0,0-1.2,0L35,17ZM3,3.868l10,6.667v49.6L3,53.465ZM15,61V11H33v8a1,1,0,0,0,1.6.8L38,17.25l3.4,2.55a1,1,0,0,0,.6.2,1,1,0,0,0,1-1V11H61V61Z" /><path d="M10.6,48.2l-4-3A1,1,0,0,0,5,46v5a1,1,0,0,0,.4.8l4,3a1,1,0,0,0,.6.2,1,1,0,0,0,1-1V49A1,1,0,0,0,10.6,48.2ZM9,52,7,50.5V48l2,1.5Z" /></svg>
                    </i>
                    <h3>Nhận Hàng</h3>
                    <p>Tiếp nhận hàng hóa từ người gửi tại các điểm chấp nhận hoặc thông qua dịch vụ lấy hàng tận nơi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg id="Layer_3" height="60" viewBox="0 0 64 64" width="60" xmlns="http://www.w3.org/2000/svg" data-name="Layer 3"><path d="m31.707 26.707 4-4a1 1 0 0 0 .293-.707v-15.993a1 1 0 0 0 -1-1.007h-18a1 1 0 0 0 -.707.293l-4 4a1 1 0 0 0 -.293.707v16a1 1 0 0 0 1 1h18a1 1 0 0 0 .707-.293zm2.293-5.121-2 2v-13.172l2-2zm-3.414-12.586h-3.172l2-2h3.172zm-10.586 2h4v5h-4zm1.414-2 2-2h3.172l-2 2zm-4-2h3.172l-2 2h-3.172zm-3.414 4h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v14h-16z" /><path d="m12 29h-6a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0 -1-1zm-1 6h-4v-4h4z" /><path d="m12 39h-6a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0 -1-1zm-1 6h-4v-4h4z" /><path d="m12 49h-6a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0 -1-1zm-1 6h-4v-4h4z" /><path d="m15 30h17v2h-17z" /><path d="m15 34h17v2h-17z" /><path d="m15 40h17v2h-17z" /><path d="m15 44h8v2h-8z" /><path d="m15 50h8v2h-8z" /><path d="m15 54h8v2h-8z" /><path d="m62 45h-8v-15a1 1 0 0 0 -1-1h-6v-27a1 1 0 0 0 -1-1h-44a1 1 0 0 0 -1 1v58a1 1 0 0 0 1 1h23v1a1 1 0 0 0 1 1h36a1 1 0 0 0 1-1v-16a1 1 0 0 0 -1-1zm-7 2v6.765l-1.293-1.293a1 1 0 0 0 -1.414 0l-1.293 1.293v-6.765zm-8.707-6.114a1 1 0 0 0 1.707-.707v-9.179h4v14h-16v-14h4v9.179a1 1 0 0 0 1.707.707l2.293-2.293zm-9.293 6.114v6.765l-1.293-1.293a1 1 0 0 0 -1.414 0l-1.293 1.293v-6.765zm9-9.235-1.293-1.293a1 1 0 0 0 -1.414 0l-1.293 1.293v-6.765h4zm-21 8.235v13h-22v-56h42v26h-10a1 1 0 0 0 -1 1v15h-8a1 1 0 0 0 -1 1zm18 15h-16v-14h4v9.179a1 1 0 0 0 1.707.707l2.293-2.293 2.293 2.293a1 1 0 0 0 1.707-.707v-9.179h4zm18 0h-16v-14h4v9.179a1 1 0 0 0 1.707.707l2.293-2.293 2.293 2.293a1 1 0 0 0 1.707-.707v-9.179h4z" /></svg>
                    </i>
                    <h3>Đóng Gói và Xử Lý</h3>
                    <p>Đóng gói hàng hóa một cách an toàn để đảm bảo rằng chúng không bị hư hại trong quá trình vận chuyển.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg id="Artboard_30" height="60" viewBox="0 0 64 64" width="60" xmlns="http://www.w3.org/2000/svg" data-name="Artboard 30"><path d="m62.906 37.577-7-15a1 1 0 0 0 -.906-.577h-7v-6a1 1 0 0 0 -1-1h-26.051a10 10 0 0 0 -19.949 1v34a1 1 0 0 0 1 1h8.09a6 6 0 1 0 11.82 0h26.18a6 6 0 1 0 11.82 0h2.09a1 1 0 0 0 1-1v-12a1 1 0 0 0 -.094-.423zm-51.906-29.577a8 8 0 1 1 -8 8 8.009 8.009 0 0 1 8-8zm5 48a4 4 0 1 1 4-4 4 4 0 0 1 -4 4zm5.188-7a5.986 5.986 0 0 0 -10.376 0h-7.812v-11h10v-2h-10v-6h25a1 1 0 0 0 1-1v-3.586l7.586 7.586-7.586 7.586v-3.586a1 1 0 0 0 -1-1h-13v2h12v5a1 1 0 0 0 .617.924.987.987 0 0 0 .383.076 1 1 0 0 0 .707-.293l10-10a1 1 0 0 0 0-1.414l-10-10a1 1 0 0 0 -1.707.707v5h-24v-6.025a9.986 9.986 0 0 0 17.949-4.975h25.051v32zm32.812 7a4 4 0 1 1 4-4 4 4 0 0 1 -4 4zm7-7h-1.812a5.986 5.986 0 0 0 -10.376 0h-.812v-25h6.363l6.637 14.222z" /><path d="m53 25h-3a1 1 0 0 0 -1 1v11a1 1 0 0 0 1 1h8a1 1 0 0 0 .91-1.414l-5-11a1 1 0 0 0 -.91-.586zm-2 11v-9h1.356l4.091 9z" /><path d="m50 39h3v2h-3z" /><circle cx="16" cy="52" r="2" /><circle cx="54" cy="52" r="2" /><path d="m11.707 16.707a1 1 0 0 0 .293-.707v-7h-2v6.586l-2.707 2.707 1.414 1.414z" /><path d="m32 11h15v2h-15z" /><path d="m49 11h2v2h-2z" /><path d="m52 18h9v2h-9z" /><path d="m21 7h15v2h-15z" /></svg>
                    </i>
                    <h3>Vận Chuyển</h3>
                    <p>Sử dụng các phương tiện vận tải như xe ô tô, máy bay hoặc tàu hỏa để chuyển phát hàng hóa đến điểm đích.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg id="Layer_3" enable-background="new 0 0 64 64" height="60" viewBox="0 0 64 64" width="60" xmlns="http://www.w3.org/2000/svg"><g><path d="m15 5h6v2h-6z" /><path d="m18 53c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3zm0 4c-.551 0-1-.448-1-1s.449-1 1-1 1 .448 1 1-.449 1-1 1z" /><path d="m15.121 18.707c-1.1-1.101-2.564-1.707-4.121-1.707s-3.021.606-4.121 1.707l-.172.172c-1.085 1.085-1.707 2.587-1.707 4.121 0 1.519.466 2.975 1.349 4.209l3.837 5.372c.188.263.491.419.814.419s.626-.156.813-.419l3.837-5.372c.884-1.234 1.35-2.69 1.35-4.209 0-1.534-.622-3.036-1.707-4.121zm-1.098 7.34-3.023 4.232-3.024-4.232c-.639-.895-.976-1.947-.976-3.047 0-1.008.409-1.994 1.121-2.707l.172-.172c.723-.723 1.685-1.121 2.707-1.121s1.984.398 2.707 1.121l.172.172c.712.713 1.121 1.699 1.121 2.707 0 1.1-.337 2.152-.977 3.047z" /><path d="m61.293 46.879-.172-.172c-1.1-1.101-2.564-1.707-4.121-1.707s-3.021.606-4.121 1.707l-.172.172c-1.085 1.085-1.707 2.587-1.707 4.121 0 1.519.466 2.975 1.349 4.209l3.837 5.372c.188.263.491.419.814.419s.626-.156.813-.419l3.837-5.372c.884-1.234 1.35-2.69 1.35-4.209 0-1.534-.622-3.036-1.707-4.121zm-1.27 7.168-3.023 4.232-3.024-4.232c-.639-.895-.976-1.947-.976-3.047 0-1.008.409-1.994 1.121-2.707l.172-.172c.723-.723 1.685-1.121 2.707-1.121s1.984.398 2.707 1.121l.172.172c.712.713 1.121 1.699 1.121 2.707 0 1.1-.337 2.152-.977 3.047z" /><path d="m10 35h2v2h-2z" /><path d="m10 39h2v2h-2z" /><path d="m10 43h2v2h-2z" /><path d="m14 43h2v2h-2z" /><path d="m18 43h2v2h-2z" /><path d="m22 43h2v2h-2z" /><path d="m26 43h2v2h-2z" /><path d="m30 43h2v2h-2z" /><path d="m36 43h2v2h-2z" /><path d="m40 43h2v2h-2z" /><path d="m40 47h2v2h-2z" /><path d="m40 51h2v2h-2z" /><path d="m40 55h2v2h-2z" /><path d="m40 59h2v2h-2z" /><path d="m44 59h2v2h-2z" /><path d="m48 59h2v2h-2z" /><path d="m52 59h2v2h-2z" /><path d="m60 17c0-5.514-4.486-10-10-10-4.829 0-8.869 3.441-9.798 8h-5.202v-8c0-3.309-2.691-6-6-6h-22c-3.309 0-6 2.691-6 6v50c0 3.309 2.691 6 6 6h22c3.309 0 6-2.691 6-6v-18h11c.552 0 1-.447 1-1v-11.461c.948.298 1.955.461 3 .461 5.514 0 10-4.486 10-10zm-28 0h4v6.586l-1.293-1.293c-.391-.391-1.023-.391-1.414 0l-1.293 1.293zm-25-14h22c2.206 0 4 1.794 4 4v2h-30v-2c0-2.206 1.794-4 4-4zm22 58h-22c-2.206 0-4-1.794-4-4v-6h30v6c0 2.206-1.794 4-4 4zm4-12h-30v-38h30v4h-11c-.552 0-1 .447-1 1v22c0 .553.448 1 1 1h11zm-10-12v-2h22v2zm22-4h-22v-16h7v9c0 .404.244.77.617.924.374.156.803.069 1.09-.217l2.293-2.293 2.293 2.293c.191.191.447.293.707.293.129 0 .259-.024.383-.076.373-.154.617-.52.617-.924v-9h2c0 3.691 2.016 6.915 5 8.647zm5-8c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z" /><path d="m48 18.586-1.293-1.293-1.414 1.414 2 2c.195.195.451.293.707.293s.512-.098.707-.293l6-6-1.414-1.414z" /></g></svg>
                    </i>
                    <h3>Theo Dõi Trạng Thái</h3>
                    <p>Cung cấp dịch vụ theo dõi để người gửi và người nhận có thể kiểm tra trạng thái của gói hàng trực tuyến.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_3" data-name="Layer 3" viewBox="0 0 64 64" width="60" height="60"><path d="M25,26H20.97V21a6,6,0,0,0-2.691-5,6,6,0,0,0,2.691-5V6a5,5,0,0,0,2-4,1,1,0,0,0-1-1h-12a1,1,0,0,0-1,1v9a6,6,0,0,0,2.69,5,6,6,0,0,0-2.69,5V34a1,1,0,0,0,.051.316l1.949,5.846V62a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V60a3.006,3.006,0,0,0-2-2.829V40.162l1.948-5.846a.993.993,0,0,0,.052-.306L20.99,32H25a3,3,0,0,0,0-6ZM18.97,10H15.414L14.143,8.728A4.945,4.945,0,0,0,14.869,7h3.1a5,5,0,0,0,1-.1Zm-.142,2A4,4,0,0,1,16,14.849V12ZM10.97,3H20.8A3.007,3.007,0,0,1,17.97,5h-4a1,1,0,0,0-1,1,3.006,3.006,0,0,1-2,2.829Zm0,7.9a4.946,4.946,0,0,0,1.765-.75L14,11.414v3.453A4,4,0,0,1,10.97,11ZM11.357,35h7.226l-1.562,4.684A1,1,0,0,0,16.97,40V57h-4V40a1,1,0,0,0-.052-.316ZM18.97,61h-6V59h5a1,1,0,0,1,1,1Zm.01-28H10.97V21a4,4,0,1,1,8,0v5H18l-.017-4.012a3.007,3.007,0,0,0-3-2.988,3,3,0,0,0-3,3.01l.016,6a4.008,4.008,0,0,0,4,3.989h3ZM13.975,22.005a1,1,0,0,1,1-1,1,1,0,0,1,1,1l.012,3H13.983ZM25,30H15.991a2,2,0,0,1-2-2l0-1H16v0a1,1,0,0,0,1,1h8a1,1,0,0,1,0,2Z" /><path d="M55,11V7A6,6,0,0,0,43,7v4a6,6,0,0,0,2.69,5,6.041,6.041,0,0,0-1.878,2H32a1,1,0,0,0-1,1V31a1,1,0,0,0,1,1H42.98L43,34.01a.993.993,0,0,0,.052.306L45,40.162V57.171A3.006,3.006,0,0,0,43,60v2a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V40.162l1.948-5.846A1,1,0,0,0,55,34V21a6,6,0,0,0-2.69-5A6,6,0,0,0,55,11ZM49.1,8a4.9,4.9,0,0,0,.382,1.1l-.9.9H45V8ZM48,12v2.858A4,4,0,0,1,45.142,12Zm2-.586.688-.688A4.954,4.954,0,0,0,52.9,11.863a4,4,0,0,1-2.9,3ZM49,3a4,4,0,0,1,4,4V9.816A3,3,0,0,1,51,7a1,1,0,0,0-1-1H45.142A4,4,0,0,1,49,3ZM37,20h2v2H37Zm-4,0h2v3a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V20h2.09A6,6,0,0,0,43,21v5H39a3,3,0,0,0-3,3,2.966,2.966,0,0,0,.184,1H33Zm5,9a1,1,0,0,1,1-1H46.97a1,1,0,0,0,1-1v0h2.01l0,1a2,2,0,0,1-2,2H39A1,1,0,0,1,38,29Zm11.986-4H47.978l.013-3a1,1,0,0,1,1-1,1,1,0,0,1,1,1ZM51,40V57H47V40a1,1,0,0,0-.052-.316L45.387,35h7.226l-1.561,4.684A1,1,0,0,0,51,40ZM45,61V60a1,1,0,0,1,1-1h5v2Zm8-40V33H44.99l-.01-1h3a4.008,4.008,0,0,0,4-3.989l.016-6a3,3,0,0,0-6-.022L45.974,26H45V21a4,4,0,0,1,8,0Z" /></svg>
                    </i>
                    <h3>Giao Hàng</h3>
                    <p>Giao hàng nhanh chóng và đúng hẹn đến địa chỉ của người nhận.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg id="Layer_3" height="60" viewBox="0 0 64 64" width="60" xmlns="http://www.w3.org/2000/svg" data-name="Layer 3"><path d="m58 3h-52a5.006 5.006 0 0 0 -5 5v40a5.006 5.006 0 0 0 5 5h18.8l-5.549 6.342a1 1 0 0 0 .749 1.658h24a1 1 0 0 0 .752-1.658l-5.552-6.342h18.8a5.006 5.006 0 0 0 5-5v-40a5.006 5.006 0 0 0 -5-5zm-16.2 56h-19.6l5.249-6h9.094zm19.2-11a3 3 0 0 1 -3 3h-52a3 3 0 0 1 -3-3v-40a3 3 0 0 1 3-3h52a3 3 0 0 1 3 3z" /><path d="m56 7h-48a3 3 0 0 0 -3 3v32a3 3 0 0 0 3 3h48a3 3 0 0 0 3-3v-32a3 3 0 0 0 -3-3zm-48 2h48a1 1 0 0 1 1 1v5h-50v-5a1 1 0 0 1 1-1zm48 34h-48a1 1 0 0 1 -1-1v-25h50v25a1 1 0 0 1 -1 1z" /><path d="m31 47h2v2h-2z" /><path d="m24 19h-14a1 1 0 0 0 -1 1v20a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-20a1 1 0 0 0 -1-1zm-1 20h-12v-18h12z" /><path d="m54 23h-18a1 1 0 0 0 -1 1v12a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-12a1 1 0 0 0 -1-1zm-9 6.733-6.085-4.733h12.17zm-3.758-.389-4.242 4.242v-7.541zm1.591 1.237 1.553 1.209a1 1 0 0 0 1.228 0l1.553-1.209 4.419 4.419h-13.172zm5.925-1.237 4.242-3.299v7.541z" /><path d="m13 23h8v2h-8z" /><path d="m13 27h8v2h-8z" /><path d="m13 31h8v2h-8z" /><path d="m13 35h8v2h-8z" /><path d="m30.707 26.293-1.414 1.414 1.293 1.293h-4.586v2h4.586l-1.293 1.293 1.414 1.414 3-3a1 1 0 0 0 0-1.414z" /><path d="m45 11h2v2h-2z" /><path d="m49 11h2v2h-2z" /><path d="m53 11h2v2h-2z" /></svg>
                    </i>
                    <h3>Dịch Vụ Hậu Mãi</h3>
                    <p>Xử lý các vấn đề phát sinh như mất mát, hỏng hóc hoặc trễ giờ</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg id="Layer_3" enable-background="new 0 0 64 64" height="60" viewBox="0 0 64 64" width="60" xmlns="http://www.w3.org/2000/svg"><g><path d="m21 24h2v4h-2z" /><path d="m16.5 25c.827 0 1.5-.673 1.5-1.5s-.673-1.5-1.5-1.5-1.5.673-1.5 1.5.673 1.5 1.5 1.5z" /><path d="m27.5 25c.827 0 1.5-.673 1.5-1.5s-.673-1.5-1.5-1.5-1.5.673-1.5 1.5.673 1.5 1.5 1.5z" /><path d="m22 37c3.86 0 7-3.141 7-7h-2c0 2.757-2.243 5-5 5s-5-2.243-5-5h-2c0 3.859 3.14 7 7 7z" /><path d="m62.706 38.292-6.998-6.998c-.181-.182-.431-.294-.708-.294h-17c-.552 0-1 .447-1 1v7.415l-5.885-1.81c2.277-1.96 3.921-4.632 4.571-7.673 2.43-.34 4.314-2.41 4.314-4.932 0-2.414-1.721-4.434-4-4.899v-5.101c0-7.72-6.28-14-14-14s-14 6.28-14 14v5.101c-2.279.465-4 2.485-4 4.899 0 2.522 1.884 4.592 4.314 4.931.651 3.041 2.294 5.714 4.571 7.673l-6.944 2.136c-2.955.91-4.941 3.6-4.941 6.692v15.568c0 .553.448 1 1 1h36 24c.552 0 1-.447 1-1v-23c0-.277-.112-.527-.294-.708zm-6.706-3.878 3.586 3.586h-3.586zm-19 26.586h-1v-12h-2v12h-11v-8.735l2.674-4.68.431.862c.166.332.502.545.873.553h.021c.363 0 .698-.196.874-.515l4.643-8.357 4.484 1.379zm-15-20c.126 0 .247-.016.372-.019l2.227 4.454-2.599 4.549-2.6-4.549 2.227-4.454c.126.003.247.019.373.019zm8.563-1.473-3.517 6.33-.18-.359.001-.002-.003-.002-2.365-4.73c1.639-.297 3.176-.881 4.565-1.697zm-20.563-24.527c0-.075.01-.148.011-.222l2.381-.595c6.278-1.568 12.938-1.568 19.216 0l2.381.595c.001.074.011.147.011.222v.382l-3.077 1.538-2.761-.921c-3.982-1.326-8.341-1.327-12.325.001l-2.761.92-3.076-1.538zm28 10c0 1.317-.859 2.427-2.042 2.829.016-.276.042-.549.042-.829v-4.816c1.161.414 2 1.514 2 2.816zm-16-22c5.816 0 10.676 4.161 11.768 9.662l-1.674-.418c-6.596-1.65-13.591-1.65-20.187 0l-1.674.418c1.091-5.501 5.951-9.662 11.767-9.662zm-16 22c0-1.302.839-2.402 2-2.816v4.816c0 .28.026.553.042.829-1.183-.402-2.042-1.512-2.042-2.829zm4 2v-9.382l2.553 1.276c.237.119.511.14.764.054l3.153-1.051c3.574-1.191 7.487-1.19 11.06-.001l3.154 1.052c.103.035.21.052.316.052.154 0 .307-.035.447-.105l2.553-1.277v9.382c0 6.617-5.383 12-12 12s-12-5.383-12-12zm9.5 13.764-2.365 4.73-.003.002.001.002-.18.359-3.517-6.33 1.499-.461c1.389.817 2.926 1.401 4.565 1.698zm-16.5 5.668c0-2.209 1.418-4.13 3.529-4.779l4.954-1.524 4.643 8.357c.176.318.511.514.874.514h.021c.371-.008.707-.221.873-.553l.431-.862 2.675 4.68v8.735h-11v-12h-2v12h-5zm58 14.568h-22v-28h15v6c0 .553.448 1 1 1h6z" /><path d="m41 57h10v2h-10z" /><path d="m41 53h10v2h-10z" /><path d="m41 49h10v2h-10z" /><path d="m41 45h10v2h-10z" /><path d="m53.168 46.555 2 3c.186.279.499.445.832.445.03 0 .061-.001.091-.004.366-.034.683-.265.828-.603l3-7-1.838-.787-2.273 5.303-.976-1.464z" /><path d="m55.808 55.909-.976-1.464-1.664 1.109 2 3c.186.28.499.446.832.446.03 0 .061-.001.091-.004.366-.034.683-.265.828-.603l3-7-1.838-.787z" /></g></svg>
                    </i>
                    <h3>Dịch Vụ Khách Hàng</h3>
                    <p>Cung cấp hỗ trợ và giải quyết thắc mắc từ phía khách hàng.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="service-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_3" data-name="Layer 3" viewBox="0 0 64 64" width="60" height="60"><path d="M62,55H60V30a1,1,0,0,0-1-1H53a1,1,0,0,0-1,1V55H50V46a1,1,0,0,0-1-1H43a1,1,0,0,0-1,1v9H40V50a1,1,0,0,0-1-1H33a1,1,0,0,0-1,1v5H28a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H62a1,1,0,0,0,1-1V56A1,1,0,0,0,62,55ZM54,31h4V55H54ZM44,47h4v8H44ZM34,51h4v4H34ZM61,61H29V57H61Z" /><path d="M29.97,50.242l.957-3.827a20.813,20.813,0,0,0,6.014-2.5l3.394,2.035a1,1,0,0,0,1.222-.15L45.8,41.557a1,1,0,0,0,.15-1.222l-2.035-3.394a20.813,20.813,0,0,0,2.5-6.014l3.827-.957A1,1,0,0,0,51,29V23a1,1,0,0,0-.758-.97l-3.827-.957a20.813,20.813,0,0,0-2.5-6.014l2.035-3.394a1,1,0,0,0-.15-1.222L41.557,6.2a1,1,0,0,0-1.222-.15L36.941,8.086a20.813,20.813,0,0,0-6.014-2.5L29.97,1.758A1,1,0,0,0,29,1H23a1,1,0,0,0-.97.758l-.957,3.827a20.813,20.813,0,0,0-6.014,2.5L11.665,6.051a1,1,0,0,0-1.222.15L6.2,10.443a1,1,0,0,0-.15,1.222l2.035,3.394a20.813,20.813,0,0,0-2.5,6.014l-3.827.957A1,1,0,0,0,1,23v6a1,1,0,0,0,.758.97l3.827.957a20.813,20.813,0,0,0,2.5,6.014L6.051,40.335a1,1,0,0,0,.15,1.222L10.443,45.8a1,1,0,0,0,1.222.15l3.394-2.035a20.813,20.813,0,0,0,6.014,2.5l.957,3.827A1,1,0,0,0,23,51h6A1,1,0,0,0,29.97,50.242ZM23.781,49l-.918-3.668A1,1,0,0,0,22.1,44.6,18.851,18.851,0,0,1,15.619,41.9a1,1,0,0,0-1.061-.02l-3.252,1.951L8.167,40.694l1.951-3.252a1,1,0,0,0-.02-1.061A18.851,18.851,0,0,1,7.4,29.9a1,1,0,0,0-.736-.765L3,28.219V23.781l3.668-.918A1,1,0,0,0,7.4,22.1,18.851,18.851,0,0,1,10.1,15.619a1,1,0,0,0,.02-1.061L8.167,11.306l3.139-3.139,3.252,1.951a1,1,0,0,0,1.061-.02A18.851,18.851,0,0,1,22.1,7.4a1,1,0,0,0,.765-.736L23.781,3h4.438l.918,3.668A1,1,0,0,0,29.9,7.4,18.851,18.851,0,0,1,36.381,10.1a.994.994,0,0,0,1.061.02l3.252-1.951,3.139,3.139-1.951,3.252a1,1,0,0,0,.02,1.061A18.851,18.851,0,0,1,44.6,22.1a1,1,0,0,0,.736.765L49,23.781v4.438l-3.668.918a1,1,0,0,0-.736.765A18.851,18.851,0,0,1,41.9,36.381a1,1,0,0,0-.02,1.061l1.951,3.252-3.139,3.139-3.252-1.951a1,1,0,0,0-1.061.02A18.851,18.851,0,0,1,29.9,44.6a1,1,0,0,0-.765.736L28.219,49Z" /><path d="M40,26A14,14,0,1,0,26,40,14.015,14.015,0,0,0,40,26ZM26,38A12,12,0,1,1,38,26,12.013,12.013,0,0,1,26,38Z" /><path d="M26,16A10,10,0,1,0,36,26,10.011,10.011,0,0,0,26,16Zm0,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,26,34Z" /><path d="M28,26a1.993,1.993,0,0,0-1-1.722V22H25v2.278A1.994,1.994,0,0,0,26,28a1.96,1.96,0,0,0,.511-.075l2.782,2.782,1.414-1.414-2.782-2.782A1.96,1.96,0,0,0,28,26Z" /><path d="M8.707,46.293a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,2,54H4v8a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V54h2a1,1,0,0,0,.707-1.707ZM11,52a1,1,0,0,0-1,1v8H6V53a1,1,0,0,0-1-1H4.414L8,48.414,11.586,52Z" /><path d="M53,27h6a1,1,0,0,0,1-1V9h2a1,1,0,0,0,.707-1.707l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,50,9h2V26A1,1,0,0,0,53,27ZM56,3.414,59.586,7H59a1,1,0,0,0-1,1V25H54V8a1,1,0,0,0-1-1h-.586Z" /></svg>
                    </i>
                    <h3>Quản Lý Hệ Thống</h3>
                    <p>Sử dụng công nghệ để quản lý thông tin, lên lịch vận chuyển, và cải thiện hiệu suất hệ thống.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-map-marker-alt"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">15</h3>
                        <p>Điểm giao dịch</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-user"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">100</h3>
                        <p>Nhân viên, trưởng điểm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-users"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">150</h3>
                        <p>Khách hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="fa fa-check"></i>
                    <div class="facts-text">
                        <h3 data-toggle="counter-up">1000</h3>
                        <p>Dự án thành công</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header text-left">
                    <p>MAGIC POST</p>
                    <h2>Địa điểm giao dịch</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
                                <p><strong>Liên hệ:</strong>0827259403</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>Số 7 Phạm Văn Đồng, Cầu Giấy,Hà Nội</p>
                                <p><strong>Liên hệ:</strong>012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>10 phố Láng Hạ, Đống Đa, Cầu Giấy</p>
                                <p><strong>Liên hệ:</strong>012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="location-text">
                                <h3>Magic Post</h3>
                                <p>10 Giải Phóng, Hai Bà Trưng, Hà Nội</p>
                                <p><strong>Liên hệ:</strong>012 345 6789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="location-form">
                    <h3>Liên hệ tư vấn</h3>
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Tên" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Mô tả" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location End -->
<!-- Team Start -->
<div class="team" id="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Đội ngũ của chúng tôi</p>

        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-1.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Mai Hiếu</h2>
                        <p>Trưởng điểm giao dịch</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Mạnh Hùng</h2>
                        <p>Trưởng điểm giao dịch</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Hoàng Hào</h2>
                        <p>Lãnh đạo</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/img/team-4.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nguyễn Tiến Hải</h2>
                        <p>Giao dịch viên</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<table>
    <thead>
        <tr>
            <th>Tên Người Gửi</th>
            <th>Tên Người Nhận</th>
            <th>Đồ Vật</th>
            <th>Địa chỉ nhận</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders.items)
        {


            <tr>
                <td>@order.SendName</td>
                <td>@order.ReceiveName</td>
                <td>@order.Code</td>
                <td>@order.ReceiveAddress</td>
            </tr>
        }
        <!-- Thêm các hàng khác tùy vào số đơn hàng -->
    </tbody>
</table>

<style>
    /* CSS để tạo bảng */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #3498db;
        color: #fff;

</style>