@model MagicPost_ViewModel.Orders.TransferCreateRequest
@using System.Globalization;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;

}
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="About" asp-controller="Home">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-controller="Transfer" asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ToDiemTk" class="control-label"></label>
                        <input asp-for="ToDiemTk" class="form-control" />
                        <span asp-validation-for="ToDiemTk" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Chuyển hàng" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>