@model MagicPost_ViewModel.Orders.TransferCreateRequest
@using System.Globalization;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;

}
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <button type="submit" class="button" onclick="location.href='@Url.Action("About", "Home")'">
                <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
                <span>Back</span>
        </div>

        <div class="card-body">
            <div class="col-md-8 offset-md-4">
                <form asp-controller="Transfer" asp-action="Create" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="OrderId" value="@ViewBag.orderId" />
                    @if(ViewBag.Status == MagicPost__Data.Enums.OrderStatus.InTk1)
                    {
                        <div class="form-group">
                            <label asp-for="ToTk" class="control-label">Tới điểm tập kết</label>
                            <select asp-for="ToTk" asp-items="@(new SelectList(ViewBag.ListTK))" class="form-control">
                                <option value="">-- Chọn điểm tập kết --</option>
                            </select>
                            <span asp-validation-for="ToTk" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Chuyển hàng" class="btn btn-primary" />
                        </div>
                    }

                    else if (ViewBag.Status == MagicPost__Data.Enums.OrderStatus.InTk2)
                    {
                        <div class="form-group">
                            <label asp-for="ToGD" class="control-label">Tới điểm giao dịch</label>
                            <select asp-for="ToGD" asp-items="@(new SelectList(ViewBag.ListGD))" class="form-control">
                                <option value="">-- Chọn điểm giao dịch --</option>
                            </select>
                            <span asp-validation-for="ToGD" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Chuyển hàng" class="btn btn-primary" />
                        </div>
                    }

                    else if (ViewBag.Status == MagicPost__Data.Enums.OrderStatus.InGD1)
                    {
                        <li class="breadcrumb-item active">Bạn muốn chuyển hàng tới điểm tập kết</li>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Chuyển hàng" class="btn btn-primary" />
                        </div>
                    }

                    else if (ViewBag.Status == MagicPost__Data.Enums.OrderStatus.InGD2)
                    {
                        <li class="breadcrumb-item active">Bạn muốn chuyển hàng đến người nhận?</li>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Chuyển hàng" class="btn btn-primary" />
                        </div>
                    }

                    else if (ViewBag.Status == MagicPost__Data.Enums.OrderStatus.ToGD2
                    || ViewBag.Status == MagicPost__Data.Enums.OrderStatus.ToTk1
                    || ViewBag.Status == MagicPost__Data.Enums.OrderStatus.ToTk2)
                    {
                        <li class="breadcrumb-item active">Xác nhận đơn hàng đã đến điểm</li>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Xác nhận" class="btn btn-primary" />
                        </div>
                    }

                    else if (ViewBag.Status == MagicPost__Data.Enums.OrderStatus.Shipping)
                    {
                        <li class="breadcrumb-item active">Xác nhận đơn hàng đã giao thành công</li>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Đã giao thành công" class="btn btn-primary" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Chưa giao thành công" class="btn btn-primary" />
                        </div>

                    }
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .form-group {
        position: relative;
    }

        .form-group input {
            width: 400px;
            height: 50px;
            padding: 15px 20px;
            outline: none;
            background: transparent;
            border-radius: 5px;
            color: #212121;
            border: 1px solid#212121;
            font-size: 1em;
        }

        .form-group span {
            position: absolute;
            left: 0;
            font-size: 0.7em;
            transform: translateX(14px) translateY(-7.5px);
            padding: 0 6px 1px 5px;
            border-radius: 2px;
            background: #e8e8e8;
            letter-spacing: 1px;
            border: 1px solid #212121;
            color: #212121;
        }


    button {
        display: flex;
        height: 3em;
        width: 100px;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee4b;
        border-radius: 3px;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #fff;
    }

        button > svg {
            margin-right: 5px;
            margin-left: 5px;
            font-size: 20px;
            transition: all 0.4s ease-in;
        }

        button:hover > svg {
            font-size: 1.2em;
            transform: translateX(-5px);
        }

        button:hover {
            box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
            transform: translateY(-2px);
        }

</style>