@using System.Globalization;


@{
    ViewData["Title"] = "OrderPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
@model HomeViewModel
<div class="container">
    <div class="row">
        @if (User.IsInRole("TruongDiemGiaoDich"))
        {
            <div><a href="/vi/Log/DiemGiaoDichNhan/2" class="my-button">Hàng nhận</a></div>
            <a href="/vi/Log/DiemGiaoDichGui/2" class="my-button">Hàng gửi</a>
        }
        @if (User.IsInRole("TruongDiemTapKet"))
        {
            <a href="/vi/Log/DiemTapKetNhan/2" class="my-button">Hàng nhận</a>
            <a href="/vi/Log/DiemTapKetGui/2" class="my-button">Hàng gửi</a>
        }
        @if (User.IsInRole("LanhDao"))
        {
            <button>
                <a href="/vi/Log/PagingReceive">Hàng nhận</a>
            </button>
            <button>
                <a href="/vi/Log/PagingSend">Hàng gửi</a>
            </button>
        }
    </div>
</div>
<style>
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        display: flex;
        height: 3em;
        width: 100px;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee4b;
        border-radius: 8px;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #007BFF;
        margin: 50px;
    }


    .my-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px;
        transition: background-color 0.3s ease;
    }

        .my-button:hover {
            background-color: #0056b3;
        }
</style>