﻿@using MagicPost_ViewModel.System.Users
@model LoginRequest
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng nhập hệ thống</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="span1"> &nbsp;</div>
                        <div class="span1"> &nbsp;</div>


                        <div class="span4">
                            <div class="well">
                                <div class="card-body">
                                    <form asp-action="Index" asp-controller="Login" method="post" class="form">

                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="control-group">
                                            <div class="controls">
                                                <input class="input" type="text" asp-for="UserName" placeholder="Username">
                                                <span asp-validation-for="UserName" class="text-error"></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="password" class="input" asp-for="Password" placeholder="Password">
                                                <span asp-validation-for="Password" class="text-error"></span>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <a href="forgetpass.html" class="forgetpass">Forget password?</a>
                                                <button type="submit" class="btn">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>

<style>


    .row {
        /*height: 100vh;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .span4 {
        width: 400px;
        background: #F8F9FD;
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
        border-radius: 40px;
        padding: 25px 35px;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
        margin: 20px;
    }


    .form {
        margin-top: 20px;
    }

        .form .input {
            width: 100%;
            background: white;
            border: none;
            padding: 15px 20px;
            border-radius: 20px;
            margin-top: 15px;
            box-shadow: #cff0ff 0px 10px 10px -5px;
            border-inline: 2px solid transparent;
        }

            .form .input::-moz-placeholder {
                color: rgb(170, 170, 170);
            }

            .form .input::placeholder {
                color: rgb(170, 170, 170);
            }

            .form .input:focus {
                outline: none;
                border-inline: 2px solid #12B1D1;
            }

        .form .btn {
            display: block;
            width: 100%;
            font-weight: bold;
            background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
            color: white;
            padding-block: 15px;
            margin: 20px auto;
            border-radius: 20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
            border: none;
            transition: all 0.2s ease-in-out;
        }

            .form .btn:hover {
                transform: scale(1.03);
                box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
            }

            .form .btn:active {
                transform: scale(0.95);
                box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
            }

        .form .forgetpass {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-decoration: none;
            display: block;
            margin-top: 10px;
            margin-left: 10px;
        }

</style>