@model MagicPost_ViewModel.Orders.OrderCreateRequest
@using System.Globalization;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;

}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới đơn hàng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="About" asp-controller="Home">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-controller="Order" asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SendName" class="control-label">Người gửi</label>
                        <input asp-for="SendName" class="form-control" />
                        <span asp-validation-for="SendName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReceiveName" class="control-label">Người nhận</label>
                        <input asp-for="ReceiveName"  class="form-control" />
                        <span asp-validation-for="ReceiveName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SendAddress" class="control-label">Địa chỉ người gửi</label>
                        <input asp-for="SendAddress"  class="form-control" />
                        <span asp-validation-for="SendAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReceiveAddress" class="control-label">Địa chỉ người nhận</label>
                        <input asp-for="ReceiveAddress" class="form-control"  />
                        <span asp-validation-for="ReceiveAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SendPhoneNumber" class="control-label">Số điện thoại người gửi</label>
                        <input asp-for="SendPhoneNumber" class="form-control" ></input>
                        <span asp-validation-for="SendPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReceivePhoneNumber" class="control-label">Số điện thoại người nhận</label>
                        <input  asp-for="ReceivePhoneNumber" rows="1" class="form-control" ></input>
                        <span asp-validation-for="ReceivePhoneNumber" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Cuoc" class="control-label">Cước</label>
                        <input type="number" asp-for="Cuoc" class="form-control" />
                        <span asp-validation-for="Cuoc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KhoiLuong" class="control-label">Khối lượng</label>
                        <input type="number" asp-for="KhoiLuong" class="form-control" />
                        <span asp-validation-for="KhoiLuong" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>