@model MagicPost_ViewModel.Orders.OrderCreateRequest
@using System.Globalization;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;

}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="About" asp-controller="Home">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-controller="Order" asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <span asp-validation-for="SendName">Tên người gửi</span>
                        <input asp-for="SendName" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="ReceiveName">Tên người nhận</span>
                        <input asp-for="ReceiveName" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="SendAddress">Địa chỉ người gửi</span>
                        <input asp-for="SendAddress" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="ReceiveAddress">Địa chỉ người nhận</span>
                        <input asp-for="ReceiveAddress" />
                    </div>

                    <div class="form-group">
                        <span asp-validation-for="SendPhoneNumber">SĐT người gửi</span>
                        <input asp-for="SendPhoneNumber"></input>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="ReceivePhoneNumber">SĐT người nhận</span>
                        <input  asp-for="ReceivePhoneNumber" rows="1"></input>
                    </div>
                    
                    <div class="form-group">
                        <span asp-validation-for="Cuoc">Cước</span>
                        <input type="number" asp-for="Cuoc" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="KhoiLuong" >Khối lượng hàng hoá</span>
                        <input type="number" asp-for="KhoiLuong"/>
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .card-body .col-md-8 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-group {
        position: relative;
    }

    .form-group input {
        width: 400px;
        padding: 15px 20px;
        outline: none;
        background: transparent;
        border-radius: 5px;
        color: #212121;
        border: 1px solid#212121;
        font-size: 1em;
    }

    .form-group span {
        position: absolute;
        left: 0;
        font-size: 0.7em;
        transform: translateX(14px) translateY(-7.5px);
        padding: 0 6px 1px 5px;
        border-radius: 2px;
        background: #e8e8e8;
        letter-spacing: 1px;
        border: 1px solid #212121;
        color: #212121;
    }
</style>