@using System.Globalization;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AutoWash - Car Wash Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="/css/app.css" rel="stylesheet">



</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="">
                            <h1 style="font-size: 43px;">Magic<span>Post</span></h1>
                            <!-- <img src="img/logo.jpg" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Giờ mở cửa</h3>
                                    <p>Thứ 2 - Thứ 7, 8h - 17h</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="fa fa-phone-alt"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Liên hệ</h3>
                                    <p>+84 559 694 069</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email </h3>
                                    <p>nhom17@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/" class="nav-item nav-link">Trang chủ</a>
                        
                        
                        @if (User.IsInRole("LanhDao"))
                        {
                            <a href="/@culture/Home/About" class="nav-item nav-link">Tất cả đơn hàng</a>

                            <a href="/@culture/DiemTapKet/Index" class="nav-item nav-link">Quản lý các điểm</a>
                            <a href="/@culture/User/Index" class="nav-item nav-link">Quản lý tài khoản</a>
                            <a href="/@culture/Log/GetAllPaging" class="nav-item nav-link">Thống kê hàng hóa</a>

                        }
                        @if(User.IsInRole("TruongDiemGiaoDich")){
                            <a href="/@culture/Home/About" class="nav-item nav-link">Tất cả đơn hàng</a>

                            <a href="/@culture/User/GetGiaoDichViens" class="nav-item nav-link">Quản lỷ tài khoản giao dịch viên</a>
                            <a href="/@culture/Log/GetAllPaging" class="nav-item nav-link">Thống kê hàng hóa</a>

                        }
                        @if (User.IsInRole("GiaoDichVien"))
                        {
                            <a href="/@culture/Home/About" class="nav-item nav-link">Tất cả đơn hàng</a>

                            <a href="/@culture/Home/About/DiemGiaoDich/1" class="nav-item nav-link">Quản lý đơn hàng điểm giao dịch</a>
                            <a href="/@culture/Order/Create" class="nav-item nav-link">Tạo đơn hàng</a>

                        }
                        @if (User.IsInRole("TruongDiemTapKet"))
                        {
                            <a href="/@culture/Home/About" class="nav-item nav-link">Tất cả đơn hàng</a>

                            <a href="/@culture/User/GetNhanVienTapKet" class="nav-item nav-link">Quản lý tài khoản nhân viên tập kết</a>
                            <a href="/@culture/Log/GetAllPaging" class="nav-item nav-link">Thống kê hàng hóa</a>

                        }
                        @if (User.IsInRole("NhanVienTapKet"))
                        {
                            <a href="/@culture/Home/About" class="nav-item nav-link">Tất cả đơn hàng</a>

                            <a href="/@culture/Home/AboutDiemTapKet/DiemTapKet/1" class="nav-item nav-link">Quản lý đơn hàng điểm tập kết</a>
                        }
                        @*<div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="#team" class="dropdown-item">Blog Grid</a>
                                <a href="single.html" class="dropdown-item">Detail Page</a>
                                <a href="team.html" class="dropdown-item">Team Member</a>
                                <a href="booking.html" class="dropdown-item">Schedule Booking</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>*@
                    </div>


                    <div class="ml-auto">


                        @if (User.Identity.IsAuthenticated)
                        {
                            //<form action="/@culture/Account/Logout" method="post">
                                <form>
                                <button type="submit" onclick="showConfirmation()"
                                    style="padding-right:0;margin-top:10px;margin-bottom:0px;background:transparent;border:none;">
                                    <a class="btn btn-custom">
                                        <span>@User.Identity.Name</span>
                                        <svg height="12pt" viewBox="0 0 512.016 512" width="12pt" xmlns="http://www.w3.org/2000/svg"><path d="m496 240.007812h-202.667969c-8.832031 0-16-7.167968-16-16 0-8.832031 7.167969-16 16-16h202.667969c8.832031 0 16 7.167969 16 16 0 8.832032-7.167969 16-16 16zm0 0" /><path d="m416 320.007812c-4.097656 0-8.191406-1.558593-11.308594-4.691406-6.25-6.253906-6.25-16.386718 0-22.636718l68.695313-68.691407-68.695313-68.695312c-6.25-6.25-6.25-16.382813 0-22.632813 6.253906-6.253906 16.386719-6.253906 22.636719 0l80 80c6.25 6.25 6.25 16.382813 0 22.632813l-80 80c-3.136719 3.15625-7.230469 4.714843-11.328125 4.714843zm0 0" /><path d="m170.667969 512.007812c-4.566407 0-8.898438-.640624-13.226563-1.984374l-128.386718-42.773438c-17.46875-6.101562-29.054688-22.378906-29.054688-40.574219v-384c0-23.53125 19.136719-42.6679685 42.667969-42.6679685 4.5625 0 8.894531.6406255 13.226562 1.9843755l128.382813 42.773437c17.472656 6.101563 29.054687 22.378906 29.054687 40.574219v384c0 23.53125-19.132812 42.667968-42.664062 42.667968zm-128-480c-5.867188 0-10.667969 4.800782-10.667969 10.667969v384c0 4.542969 3.050781 8.765625 7.402344 10.28125l127.785156 42.582031c.917969.296876 2.113281.46875 3.480469.46875 5.867187 0 10.664062-4.800781 10.664062-10.667968v-384c0-4.542969-3.050781-8.765625-7.402343-10.28125l-127.785157-42.582032c-.917969-.296874-2.113281-.46875-3.476562-.46875zm0 0" /><path d="m325.332031 170.675781c-8.832031 0-16-7.167969-16-16v-96c0-14.699219-11.964843-26.667969-26.664062-26.667969h-240c-8.832031 0-16-7.167968-16-16 0-8.832031 7.167969-15.9999995 16-15.9999995h240c32.363281 0 58.664062 26.3046875 58.664062 58.6679685v96c0 8.832031-7.167969 16-16 16zm0 0" /><path d="m282.667969 448.007812h-85.335938c-8.832031 0-16-7.167968-16-16 0-8.832031 7.167969-16 16-16h85.335938c14.699219 0 26.664062-11.96875 26.664062-26.667968v-96c0-8.832032 7.167969-16 16-16s16 7.167968 16 16v96c0 32.363281-26.300781 58.667968-58.664062 58.667968zm0 0" /></svg>
                                    </a>

                                </button>
                                <div id="confirmationPopup">
                                    <p>Bạn có chắc chắn muốn thực hiện hành động này?</p>
                                    <button onclick="performAction()">OK</button>
                                    <button onclick="hideConfirmation()">Hủy</button>
                                </div>
                                <script>
                                    function showConfirmation() {
                                        // Hiển thị popup
                                        document.getElementById("confirmationPopup").style.display = "block";
                                    }

                                    function hideConfirmation() {
                                        // Ẩn popup
                                        document.getElementById("confirmationPopup").style.display = "none";
                                    }

                                    function performAction() {
                                        // Thực hiện hành động tương ứng
                                        alert("Hành động đã được thực hiện!");
                                        // Sau khi thực hiện xong, ẩn popup
                                        hideConfirmation();
                                    }
                                </script>
                            </form>
                        }
                        else
                        {

                            <a class="btn btn-custom" href="/@culture/Account/Login">Đăng nhập</a>

                        }


                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    @RenderBody()
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="">About Us</a>
                        <a href="">Contact Us</a>
                        <a href="">Our Service</a>
                        <a href="">Service Points</a>
                        <a href="">Pricing Plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="Full Name">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer End -->
    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>

<style>
    #confirmationPopup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
</style>
