@model MagicPost_ViewModel.System.Users.RegisterRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="CreateGiaoDichVienpost" asp-controller="User" method="post">
                    <div class="form-group">
                        <span asp-validation-for="FirstName">First Name</span>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="LastName">Last Name</span>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Dob">Date of birth</span>
                        <input asp-for="Dob" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Email">Email</span>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="PhoneNumber">SĐT</span>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="UserName">UserName</span>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Password">Password</span>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="ConfirmPassword">ConfimPassword</span>
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                    @*<div class="form-group">
                        <label>Điểm giao dịch</label>
                        <select id="DiemGiaoDichId" name="DiemGiaoDichId" class="form-control">
                        @foreach (var diemGiaoDich in Model.DiemGiaoDichs)
                        {
                                <option value="@diemGiaoDich.Id">@diemGiaoDich.Name</option>
                        }
                        </select>
                    </div>*@
                    <div class="form-group">
                        <input type="submit" value="Lưu lại" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>